<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img style="margin:40px 0 0 40px;" src="/assets/tasrop_top.png" alt="tasrop_top" width="100%" height="85%">    
    </div>
  </div>
</div>