<div class="jumbotron">
  <h1 class="display-3">Tasropへようこそ！</h1><br>
  <p class="lead">Tasropは、あなたの積み上げていく努力を"可視化"するアプリです。</p>
  <hr class="my-4">
  <h6>■ログイン〜長期目標設定</h6>
  <h6>　ずっと先を考えて、本当になりたい自分を思い描こう！それを達成するための行動をTasropで設定しよう！</h6>
  <br>
  <p>
    Step1 まず「ゲストログイン」ボタンをクリックして、アプリへログインして見ましょう！<br>
    ※「SNSログイン」を選択した場合、デフォルトパスワードが「000000」となるため、忘れずに変更してください。
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_guest_login.png" alt="tasrop_guest_login" width="100%" height="85%">    
  </p>
  <p>
    Step2 ログインに成功するとサイドバー（スマホの方はヘッダー）がでますので、「マイページ」をクリックしてマイページへ<br>
    Step3 「マイページ」でまずはご自身の人生の最終目標をたてて見ましょう！「ゲストログイン」をクリックして編集へ<br>
    Step4 いまの最終目標を記載し、パスワード/確認用パスワードに「000000」と入力して「更新」ボタンをクリック
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_target.png" alt="tasrop_target" width="100%" height="85%"> 
  </p>
  <hr class="my-4">
  <h6>■何を10000時間達成をしたいのか、ということを決めるためにタグを作成していこう！</h6>
  <h6>　例えば、「運動」というざっくりしたタグや、もっと綿密に「ランニング」といった自分が積み上げたい言葉を作成しよう！</h6>
  <br>

  <p>
    Step1 サイドバーの「カスタマイズ」ボタンをクリック、「タグ作成」をクリックしてタグを設定しよう！<br>
    Step2 「タグ名」を設定して「タグ設定」をクリックしよう！
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_tag_create.png" alt="tasrop_tag_create" width="100%" height="85%">    
  </p>

  <hr class="my-4">
  <h6>■設定したタグを達成するための、最小タスクを作成していこう！</h6>
  <h6>　例えばタグが"勉強"だった場合は、何を勉強するのか、どのように勉強するのか、１日どれくらいやるのか、を決めて作成しよう！</h6>
  <br>

  <p>
    Step1 サイドバーの「カスタマイズ」ボタンをクリック、「タスク作成」をクリックしてタスクを設定しよう！<br>
    Step2 「タスク名/タスク内容/タスク工数」、先ほど設定したタグにチェックを入れて「タスク設定」をクリックしよう！（タグは１つ以上必須です！）
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_task_create.png" alt="tasrop_task_create" width="100%" height="85%">    
  </p>

  <hr class="my-4">
  <h6>■作成したタスクを、「マイタスク」ページに表示して、毎日のTODOリストにしよう！</h6>
  <h6>　マイタスクは、自分の１日にやるべきことをチェックリストで管理、グループ化をしてくれる機能！</h6>
  <br>

  <p>
    Step1 サイドバーの「カスタマイズ」ボタンをクリック、「マイタスク作成」をクリックしてマイタスクを設定しよう！<br>
    Step2 「マイタスク名」、先ほど設定したタスクにチェックを入れて「マイタスク設定」をクリックしよう！
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_custom_create.png" alt="tasrop_custom_create" width="100%" height="85%">    
  </p>

  <hr class="my-4">
  <h6>■設定したマイタスクで、チェックリストを使ってみよう！</h6>
  <br>

  <p>
    Step1 サイドバーの「カマイタスク」ボタンをクリック、すでに対応済みなタスクにチェックを入れよう！<br>
    Step2 チェックを入れて、「更新」を押して、今日の進捗率を確認しよう！目指せ毎日100％！
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_mytask.png" alt="tasrop_mytask" width="100%" height="85%">    
  </p>

  <hr class="my-4">
  <h6>■マイページで設定したタグの累積時間を確認しよう！</h6>
  <br>

  <p>
    Step1 サイドバーの「マイページ」ボタンをクリック<br>
    Step2 タスク達成度一覧配下の各タグの進捗率を確認しよう！毎日チェックリストを埋めていけば、どんどん増えていく！目指せ１００００時間！
    <img style="margin:40px 0 0 30px;" src="/assets/tasrop_mypage.png" alt="tasrop_mypage" width="100%" height="85%">    
  </p>

</div>