<h1>フォロー</h1>
<hr>
<table class="table table-hover">
  <% @user.each do |follow| %>
    <tr>
      <td width=70%><%= link_to follow.name, follow %></td>
      <td width=30%, align=center><%= render 'follow_form', user: follow %></td>
    </tr>
  <% end %>
</table>
<%= paginate @user %>
