<% if current_user.admin? %>
  <h1>管理者ページ</h1>
  <table>
    <th>表示名</th>
    <th>メルアド</th>
    <th>管理者権限</th>
    <th></th>
  </table>
<% else %>
  <h1>DMページ</h1>
<% end %>

<h2>相互フォローリスト</h2>


<h2>ユーザー</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <li>
      <div class="item">
        <%= link_to user.email, user %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
      </div>
    </li>
    <li><%= render 'follow_form', user: user %></li>
  <% end %>
<% end %> 
