<% if daily_task_max_count != 0 %>
  <div class="progress-percentage text-xs-center">現在<%= (daily_task_terminate_count.to_i*100/daily_task_max_count.to_i).floor %>%</div>
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= (daily_task_terminate_count.to_i*100/daily_task_max_count.to_i).floor %>%;"></div>
  </div>
  <p style="float:left;">0%</p><p style="float:right;text-align:right;">100%</p>
<% end %>
